<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    {{#each venueType.venues}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{type}}
        </td>
        <td>
          {{contact}}
        </td>
        <td>
          <a href="/venueType/{{../venueType._id}}/deleteVenue/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>